<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="drinkshop.cp102.drinkshopclient">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB92k918vuihXRhvwz1wkRhJSy2ESpLguA" />

        <activity
            android:name=".amain.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".amain.addingproduct.AddingProductToShoppingCartActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".amain.shoppingcart.ShoppingCartActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".amain.orderrecord.OrderRecordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".amain.loginactivity.LoginDialogActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.MemberHistoryDetailActivity" />
        <activity android:name=".activity.MemberOrderDetailActivity" />
        <activity
            android:name=".activity.DeliveryActivity"
            android:label="@string/title_Delivery" />
        <activity android:name=".wsOrderOnline.AllChatActivity" />
        <activity android:name=".wsOrderOnline.OrderOnlineActivity" />
        <activity android:name=".wsOrderOnline.OrderOnlineMainActivity" />
        <activity android:name=".activity.NewsActivity">

        </activity>
    </application>

</manifest>